body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8ecab;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eef5d6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}
